---
preheader: ""
---

<x-main>
  <table class="mx-auto font-primary align-center-table">
    <tr>
      <td class="w-[600px] sm:w-full bg-white align-center-table max-w-[600px]">
        <table class="w-full">

          <!-- Section 01 -->
          <tr>
            <td>
              <x-sections.section-01 />
            </td>
          </tr>

          <!-- Section 02 -->
          <tr>
            <td>
              <x-sections.section-02 />
            </td>
          </tr>

          <!-- Fragment-01 (CTA)  -->
          <tr>
            <td>
              <table class="w-full">
                <tr>
                  <td>
                    <x-fragments.fragment-01 />
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <!-- Section 03 -->
          <tr>
            <td>
              <x-sections.section-03 />
            </td>
          </tr>
          <!-- Section 04 -->
          <tr>
            <td>
              <x-sections.section-04 />
            </td>
          </tr>

        </table>
      </td>
    </tr>
  </table>
</x-main>
