<table class="w-[270px] sm:w-[335px] h-[325px] sm:h-[285px] mx-auto bg-white">
  <tr>
    <td class="text-center">
      <!-- Logo -->
      <table class="w-full">
        <tr>
          <td class="pt-[20px]">
            <x-image imgUrl="image-5.jpg" class="w-[100px] h-[100px] mx-auto bg-[#d9d9d9] rounded-full" />
          </td>
        </tr>
      </table>

      <!-- Tile Title -->
      <table class="w-full">
        <tr>
          <td class="pt-[20px] text-center font-primary font-bold text-[20px] leading-[100%] text-[#005555]">
            Duis aute irure
          </td>
        </tr>
      </table>

      <!-- Tile Text -->
      <table class="w-full">
        <tr>
          <td class="pt-[16px] pb-[10px] text-center font-primary font-normal text-[16px] leading-[100%] text-[#444444] px-[25px] sm:px-[20px]">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.² 
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
