<table class="w-full max-w-[600px] h-[469px] mt-[37px] bg-[#F0F5F5] mx-auto px-[20px] sm:px-[0px]">
  <!-- Section Title -->
  <tr>
    <td class="pt-[50px] sm:pt-[30px] text-center font-primary font-bold text-[24px] leading-[100%] text-[#005555] w-[500px] sm:w-[335px] mx-auto">
      Sint cupidatat occaecat ut
    </td>
  </tr>

  <!-- Spacer -->
  <tr><td class="h-[30px]">&nbsp;</td></tr>

  <!-- Tiles Row -->
  <tr>
    <td align="center">
      <table class="w-full sm:block">
        <tr class="sm:block">
          <!-- Tile 1 -->
          <td class="align-top sm:pb-[20px] sm:inline-block sm:w-full">
            <x-fragments.fragment-02 />
          </td>

          <!-- Tile 2 -->
          <td class="align-top sm:inline-block sm:w-full sm:pt-[20px] sm:pb-[20px] sm:pl-[0px]">
            <x-fragments.fragment-03 />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
